[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/wpgtk.vim"]
	path = bundle/wpgtk.vim
	url = https://github.com/deviantfero/wpgtk.vim
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/wal.vim"]
	path = bundle/wal.vim
	url = https://github.com/dylanaraps/wal.vim
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "bundle/nvim-tree.lua"]
	path = bundle/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "bundle/nvim-cmp"]
	path = bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "bundle/bufferline.nvim"]
	path = bundle/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim
[submodule "lua/wbthomason"]
	path = lua/wbthomason
	url = https://github.com/wbthomason/packer.nvim
[submodule "site/packer.nvim"]
	path = site/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "site/wbthomason"]
	path = site/wbthomason
	url = https://github.com/wbthomason/packer.nvim
[submodule "packer"]
	path = packer
	url = https://github.com/wbthomason/packer.nvim
[submodule "pack/packer/start/packer.nvim"]
	path = pack/packer/start/packer
	url = https://github.com/wbthomason/packer.nvim
